@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Part_1</h1>
    <p class="lead">
        This application can return a list of possible customers who has an outstanding bill that matches an amount is keyed-in.
        Please run the attached <b>SeedCustomerData.sql</b> script because this application does not support manual customer insertion.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Bill</h2>
        <p>
            When a bill is created the outstanding amount is equel to bill amount.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Create New", "Index", "Bill")</p>
    </div>
    <div class="col-md-4">
        <h2>Outstanding Bills</h2>
        <p>
            You can either partially pay the outstanding bill or mark the bill as paid. Once a bill is fully paid for
            it can be displayed in only @Html.ActionLink("All Bills ", "AllBill", "Bill") Section.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Outstanding Bills", "OutstandingBill", "Bill")</p>
    </div>
    <div class="col-md-4">
        <h2>Find Possible Payors</h2>
        <p>You can easily find possible payor(s) who has an outstanding bill that matches the amount keyed-in here.</p>
        <p class="btn btn-default">@Html.ActionLink("Find Payor", "Search", "Bill")</p>
    </div>
</div>